# # Python
# *.pyc
# *.pyo
# *.pyd
# __pycache__/
# *.db
# *.sqlite3
# *.log

# # Virtual Environments
# venv/
# .env/
# .venv/
# env/
# *.env

# # Django Stuff
# *.log
# *.pot
# *.pyc
# *.pyo
# *.db
# *.sqlite3
# media/
# static/
# staticfiles/

# # Docker
# *.docker/
# docker-compose.override.yml

# # Poetry
# .poetry/
# .cache/
# *.lock

# # IDEs and Editors
# .idea/
# .vscode/
# *.sublime-project
# *.sublime-workspace

# # OS files
# .DS_Store
# Thumbs.db

# # Celery Beat schedule file
# celerybeat-schedule*

# # Coverage reports
# .coverage
# *.cover
# nosetests.xml
# coverage.xml
# *.hypothesis/
